<!--
  Generated template for the MarketDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="navbar">
    <ion-title>รายละเอียดสินค้า</ion-title>

    <ion-buttons right *ngIf="Permiss_User_myself==true">
      <button ion-button round icon-only color="dark" (click)="Change_Market()">
        <ion-icon name="md-create"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right *ngIf="Can_Delete==true">
      <button ion-button round icon-only color="secondary" (click)="Delete_Market()">
        <ion-icon color="danger" name="md-trash"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <ion-slides pager paginationType="fraction">
      <ion-slide *ngFor="let img of Response_Image;let i=index">
        <img src="{{Path_Image}}{{img.Img_Market_Name}}">
      </ion-slide>
    </ion-slides>
  </ion-card>

  <h2 text-center><B>{{Detail_Data.Market_Name}}</B></h2>
  <p style="text-indent: 2.5em;">{{Detail_Data.Market_Details}}</p>

  <h3 text-center style="color: red"><B>ราคา {{Detail_Data.Market_Price}} บาท</B></h3>
  <br>
  <p text-right>ลงเมื่อวันที่ {{Detail_Data.Market_Date| date:"dd/MM/y" }} เวลา {{Detail_Data.Market_Time}} น.</p>




  <!-- <ion-card>
    <ion-slides>
      <ion-slide>
        <img src="../../assets/imgs/buffalo.jpg">
      </ion-slide>
      <ion-slide>
        <h1>Slide 2</h1>
      </ion-slide>
      <ion-slide>
        <h1>Slide 3</h1>
      </ion-slide>
    </ion-slides>
  </ion-card>  -->


</ion-content>