page-farm-details {
    
      .photo{
        // height: 40%;
        width: 95%;
        margin: auto;
        display: block;
      }

      #my-map{
        height: 80%;
        // width: 90%;
    }

}
